<div class="row small-collapse expanded align-middle align-center">
  <div class="shrink columns">
    <ul class="menu align-right">
    <li><a href="http://garethjohnsdesign.com">LinkedIn</a></li>
    <li><a href="http://garethjohnsdesign.com">Colophon</a></li>
    </ul>
  </div>
</div>

<div class="row small-collapse expanded align-middle align-center">
  <div class="shrink columns">
    <ul class="menu align-right">
    <li><a href="http://garethjohnsdesign.com">LinkedIn</a></li>
    <li><a href="http://garethjohnsdesign.com">Colophon</a></li>
    </ul>
  </div>
</div>